.primary {
    background: green;
  }
  
.warning {
    background: yellow;
  }
  
.button {
    padding: 1em;
  }
  
.header {

}

.left-panel {

}

.right-panel {

}

.bg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("/static/bg.png"), url("/static/level-bg.jpg");
  background-size: auto 100%, 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  border: solid 1px green;
  background-color: slateblue;
}

.coin {
  color: yellow;
  font-size: 50px;
  position: fixed;
  right: 16%;
  top: 58%;
  font-family: arial;
  background: rgba(0,0,0,0.2);
  border-radius: 30%;
  padding: 5px 20px;
}

.msg {
  color: yellow;
  font-size: 40px;
  position: fixed;
  left: 50%;
  bottom: 4%;
  font-family: arial;
  background: rgba(0,0,0,0.2);
  border-radius: 2px;
  padding: 5px 20px;
  transform: translateX(-50%);
}

.bet {
  color: yellow;
  font-size: 40px;
  position: fixed;
  left: 21%;
  bottom: 32%;
  font-family: arial;
  background: rgba(0,0,0,0.2);
  border-radius: 2px;
  padding: 5px 20px;
  transform: translateX(-50%);
  text-align: center;
}

.round {
  color: yellow;
  font-size: 40px;
  position: fixed;
  right: 24%;
  top: 14%;
}


.michrophone {
  background-image: url("/static/microphone.png");
  width: 60px;
  height: 60px;
  position: absolute;
  top: 20px;
  left: 30px;
  background-size: 100% 100%;
  pointer-events: none;
  cursor: pointer;
}

.michrophone.disabled {
  opacity: 0.5;
}

.speak-btn {
 width: 40px; 
 height: 45px;
 position: absolute;
 left: 35px;
 top: 25px;
 cursor: pointer;
 opacity: 0.01;
}
