.primary {
    background: green;
  }
  
.warning {
    background: yellow;
  }
  
.button {
    padding: 1em;
  }
  
.header {

}

.left-panel {

}

.right-panel {

}

.bg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("/static/bg.png");
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
  border: solid 1px green;
  background-color: slateblue;
}

.coin {
  color: yellow;
  font-size: 60px;
  position: fixed;
  right:12%;
  top: 60%;
  font-family: arial;
  background: rgba(0,0,0,0.2);
  border-radius: 40%;
  padding: 5px 20px;
}

.msg {
  color: yellow;
  font-size: 40px;
  position: fixed;
  left: 50%;
  bottom: 4%;
  font-family: arial;
  background: rgba(0,0,0,0.2);
  border-radius: 2px;
  padding: 5px 20px;
  transform: translateX(-50%);
}

.round {
  color: yellow;
  font-size: 40px;
  position: fixed;
  left: 21%;
  bottom: 35%;
  font-family: arial;
  background: rgba(0,0,0,0.2);
  border-radius: 2px;
  padding: 5px 20px;
  transform: translateX(-50%);
}